:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 15px 15px 0;
}

header div h1 {
  font-size: 60px;
  color: #2376f3;
  margin: 10px 10px 10px 0;
  padding: 5px 5px 5px 80px;
  border-radius: 0 15px 15px 0;
  background: white;
}

header nav ul {
  margin-top: 15px;
  padding-top: 10px;
}

header nav ul li {
  list-style: none;
  display: inline;
}

header nav ul li a {
  color: #2376f3;
  text-decoration: none;
  font-size: 30px;
  border-bottom: 5px solid #2376f3;
  margin: 10px;
  padding: 10px 15px;
}

header nav ul li a:hover {
  background: white;
  text-shadow: none;
}

.hero {
  background-image: url(/assets/images/hero-img.svg);
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 10px 20px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
}

.hero h2 {
  color: #2376f3;
  background: white;
  display: flex;
  text-align: end;
}

.main-content {
  display: flex;
  flex-flow: wrap;
  margin: 5px;
  padding: 5px;
  color: #2376f3;
}

.main-content h2 {
  border-right: 5px solid #2376f3;
}

.about-me {
  display: flex;
  justify-content: space-between;
}

.about-me h2 {
  font-size: 40px;
  display: flex;
  text-align: end;
  margin: 10px;
  padding: 10px;
}

.about-me p {
  font-size: 20px;
  display: flex;
  margin: auto;
  color: black;
}

.projects {
  display: flex;
}

.projects h2 {
  display: flex;
  font-size: 40px;
  text-align: end;
  margin: 10px;
  padding: 10px;
}

.grid-work {
  display: grid;
  grid-template-areas:
    "a a a a a a a a"
    "b b b b c c c c"
    "d d d d e e e e";
  grid-auto-rows: 400px;
  grid-auto-columns: 100px;
  gap: 5px;
}

.run-buddy {
  background-image: url(/assets/images/run-buddy.png);
  background-size: cover;
  grid-area: a;
}

.run-buddy:hover {
  opacity: 50%;
}

.horiseon {
  background-image: url(/assets/images/horiseon.png);
  background-size: cover;
  grid-area: b;
}

.horiseon:hover {
  opacity: 50%;
}

.robots {
  background-image: url(/assets/images/robots.png);
  background-size: cover;
  grid-area: c;
}

.robots:hover {
  opacity: 50%;
}

.password {
  background-image: url(/assets/images/Placeholder.svg);
  background-size: cover;
  grid-area: d;
}

.password:hover {
  opacity: 50%;
}

.quiz {
  background-image: url(/assets/images/Placeholder.svg);
  background-size: cover;
  grid-area: e;
}

.quiz:hover {
  opacity: 50%;
}

.grid-work h3 {
}

.info a {
  font-size: 20px;
  text-decoration: none;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.contact h2 {
  font-size: 40px;
  display: flex;
  text-align: end;
  margin: 10px;
  padding: 10px;
}

.info {
  display: flex;
}

.info a {
  color: #2376f3;
  border-bottom: 5px solid #2376f3;
  margin: auto 20px;
}

/*  Tablets in landscape mode, older desktop monitors */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  header div h1 {
    font-size: 60px;
  }
  header nav ul li a {
    font-size: 0 100px;
  }
}

/*  Tablets in portrait mode, large display smartphones landscape mode */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header div h1 {
    font-size: 50px;
  }
  header nav ul li a {
    font-size: 25px;
    padding: 0;
  }
}

/*  Smartphones in landscape mode */
@media only screen and (min-width: 421px) and (max-width: 767px) {
  header {
    margin: 0;
    padding: 0 0 15px 0;
  }

  header div h1 {
    font-size: 40px;
  }

  header nav ul li a {
    font-size: 20px;
    border-bottom: 5px solid #2376f3;
  }

  .hero {
    padding: 40px 30px 10px 0;
    margin-bottom: 10px;
  }
}

/*  Smartphones in portrait mode  */
@media only screen and (max-width: 420px) {
  header {
    padding: 0;
  }

  header div h1 {
    font-size: 30px;
  }

  header nav ul {
    margin: 0 0 0 60px;
    padding-bottom: 5px;
  }

  header nav ul li a {
    font-size: 20px;
    padding: 0;
    border-bottom: 1px solid #2376f3;
  }

  .hero {
    padding: 40px 30px 10px 0;
    margin-bottom: 10px;
  }
}
