:root {
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header div h1 {
  font-size: 60px;
  color: #2376f3;
  margin: 10px 10px 10px 0;
  padding: 5px 5px 5px 70px;
  border-radius: 0 15px 15px 0;
  background: white;
  background-clip: border-box;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul {
  margin-top: 15px;
  padding-top: 10px;
}

header nav ul li {
  list-style: none;
  display: inline;
}

header nav ul li a {
  color: #2376f3;
  text-decoration: none;
  font-size: 30px;
  border-bottom: 5px solid #2376f3;
  margin: 10px;
  padding: 10px 15px;
}

header nav ul li a:hover {
  background: white;
  border-radius: 15px;
  text-shadow: none;
}
