:root {
  --main-color: #ffff00;
  --sec-color: #3bbced;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--sec-color);
  box-sizing: border-box;
}

/* first time using grid */
.content {
  display: grid;
  gap: 10px;
  grid-auto-columns: auto;
  align-content: center;
  box-sizing: border-box;
}

/* header start */
.header {
  background: var(--sec-color);
  grid-column: span 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header h1 {
  font-size: calc(40px + 0.55vw);
  padding: 0 15px 0 60px;
  background: var(--main-color);
  border-radius: 0 15px 15px 0;
}

.header li {
  display: inline;
  padding: 0 10px;
  margin: 0 10px;
  text-decoration: none;
  border-bottom: 5px solid var(--main-color);
}

.header a {
  text-decoration: none;
  font-size: calc(25px + 0.55vw);
  color: var(--main-color);
  text-shadow: 1px 1px 5px black;
  font-weight: bold;
  margin: 0 15px;
  padding: 0 15px;
}
/* header end */

/* hero start */
.hero {
  background: var(--main-color);
  grid-row: 2;
  grid-column: 1 / 5;
  display: flex;
  justify-content: space-between;
  background-image: url(../images/hero-img.svg);
  background-attachment: fixed;
  width: 100%;
}

.hero img {
  width: 12.5%;
}

.hero h2 {
  align-self: flex-end;
  font-size: calc(20px + 0.55vw);
  background: var(--sec-color);
  padding: 0 30px 0 15px;
  border-radius: 15px 0 0 15px;
}
/* hero end */

.about-me {
  grid-row: 3;
  grid-column: 1 / 5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.side-h2 h2 {
  font-size: calc(30px + 0.55vw);
  background: var(--main-color);
  padding-right: 10px;
  border-radius: 0 15px 15px 0;
  margin: 0;
}

.about-me p {
  font-size: calc(15px + 0.55vw);
  color: var(--main-color);
  text-shadow: 1px 1px 5px black;
  margin: 0 auto;
  padding: 10px;
}

/* work/projects start, positioning row and column */
.work {
  grid-column: 1;
  grid-row: span 4;
  padding-right: 10px;
  align-self: center;
  display: flex;
}

/* hover + opacity as showed in the mock-up */
.mental:hover,
.run-buddy:hover,
.refactor:hover,
.robots:hover,
.password:hover,
.quiz:hover,
.work-day:hover,
.weather:hover {
  opacity: 50%;
}

/* .run-buddy {
  grid-row: 4;
  grid-column: 2;
  grid-auto-columns: 2fr;
  grid-auto-rows: 2fr;
  width: auto;
  position: relative;
  justify-self: center;
} */

.mental {
  grid-row: 6;
  grid-column: 2;
  position: relative;
}

.run-buddy {
  grid-row: 6;
  grid-column: 3;
  position: relative;
}

.content h3 {
  color: black;
  font-size: calc(25px + 0.55vw);
  background: var(--main-color);
  padding: 0 15px;
  border-radius: 0 15px 15px 0;
  position: absolute;
  bottom: -10px;
}

/* img bigger criteria
.run-buddy img {
  width: 800px;
  height: auto;
  border-radius: 15px;
  box-shadow: 1px 1px 10px black;
} */

.refactor {
  grid-row: 7;
  grid-column: 2;
  position: relative;
}

.robots {
  grid-row: 7;
  grid-column: 3;
  position: relative;
}

.password {
  grid-row: 8;
  grid-column: 2;
  position: relative;
}

.quiz {
  grid-row: 8;
  grid-column: 3;
  position: relative;
}

.work-day {
  grid-row: 9;
  grid-column: 3;
  position: relative;
}

.weather {
  grid-row: 9;
  grid-column: 2;
  position: relative;
}

.img-size {
  justify-self: center;
}

.img-size img {
  width: 400px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px black;
}
/* work/projects end */

/* footer start */
.footer {
  display: flex;
  grid-column: span 4;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
  font-size: calc(16px + 0.55vw);
  color: var(--main-color);
  text-shadow: 1px 1px 5px black;
  align-self: center;
  padding: 0;
  margin: 0 5px;
  border-bottom: 5px solid var(--main-color);
}
/* footer end */

/* media query start*/
/* transition effect */
@media only screen and (max-width: 3000px) {
  * {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
}

/* Extra small devices (phones, 320px and up) */
@media only screen and (min-width: 320px) {
  .content {
    display: block;
    margin: 10px;
  }

  .header {
    justify-content: space-around;
  }

  .header nav div {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .header h1 {
    font-size: calc(30px + 0.55vw);
    padding: 0 10px;
    margin: 10px;
    border-radius: 15px;
  }

  .header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .header li {
    display: flex;
    justify-content: space-around;
    margin: 0 5px;
    padding: 0;
  }

  .header a {
    font-size: calc(20px + 0.55vw);
    margin: 0;
    padding: 0;
  }

  .hero {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 1px 1px 10px black;
  }

  .hero h2 {
    font-size: calc(20px + 0.55vw);
    padding: 0 5px;
    border-radius: 15px;
  }

  .hero img {
    width: 40%;
    border-radius: 15px;
  }

  .refactor,
  .robots,
  .password,
  .quiz,
  .work-day,
  .weather,
  .mental,
  .run-buddy {
    display: flex;
    justify-content: center;
  }

  .about-me p {
    font-size: calc(20px + 0.55vw);
  }

  .side-h2 h2 {
    font-size: calc(20px + 0.55vw);
    margin: 10px auto;
    border-radius: 15px;
    padding: 0 10px;
  }

  .content h3 {
    font-size: calc(15px + 0.55vw);
    padding: 0;
    bottom: 1px;
  }

  /* .run-buddy img {
    width: 100%;
  } */

  .img-size img {
    width: 300px;
    height: 80px;
  }

  .footer {
    flex-direction: column;
  }

  .footer a {
    font-size: calc(20px + 0.55vw);
  }
}

/* Extra small devices (phones, 425px and up) */
@media only screen and (min-width: 425px) {
  .content {
    display: block;
    margin: 10px;
  }

  .header {
    flex-direction: column;
  }

  .header h1 {
    font-size: calc(40px + 0.55vw);
    padding: 0 10px;
    margin: 10px;
    border-radius: 15px;
  }

  .header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .header li {
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
    padding: 0;
  }

  .header a {
    font-size: calc(25px + 0.55vw);
    margin: 0;
    padding: 0;
  }

  .hero {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 1px 1px 10px black;
  }

  .hero h2 {
    font-size: calc(25px + 0.55vw);
    padding: 0 5px;
    border-radius: 15px;
  }

  .hero img {
    width: 40%;
    border-radius: 15px;
  }

  .refactor,
  .robots,
  .password,
  .quiz,
  .work-day,
  .weather,
  .mental,
  .run-buddy {
    display: flex;
    justify-content: center;
  }

  .about-me p {
    font-size: calc(20px + 0.55vw);
  }

  .side-h2 h2 {
    font-size: calc(25px + 0.55vw);
    margin: 10px auto;
    border-radius: 15px;
    padding: 0 10px;
  }

  .content h3 {
    font-size: calc(20px + 0.55vw);
    padding: 0;
    bottom: 1px;
  }

  /* .run-buddy img {
    width: 100%;
  } */

  .img-size img {
    width: 400px;
    height: 120px;
  }

  footer {
    flex-direction: column;
  }

  .footer a {
    font-size: calc(20px + 0.55vw);
    margin: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content {
    display: block;
    padding: 10px 0;
  }

  .header {
    flex-direction: column;
  }

  .header h1 {
    font-size: calc(50px + 0.55vw);
    padding: 0 10px;
    border-radius: 15px;
  }

  .header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .header li {
    display: flex;
    justify-content: space-around;
    margin: 0 15px;
    padding: 0;
  }

  .header a {
    font-size: calc(25px + 0.55vw);
    padding: 0;
  }

  .hero {
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 1px 1px 10px black;
  }

  .hero h2 {
    font-size: calc(30px + 0.55vw);
    padding: 0 5px;
  }

  .hero img {
    width: 30%;
  }

  .refactor,
  .robots,
  .password,
  .quiz,
  .work-day,
  .weather,
  .mental,
  .run-buddy {
    display: flex;
    justify-content: center;
  }

  .about-me p {
    font-size: calc(25px + 0.55vw);
  }

  .side-h2 h2 {
    font-size: calc(30px + 0.55vw);
    margin: 10px auto;
    border-radius: 15px;
    padding: 0 10px;
  }

  .content h3 {
    font-size: calc(15px + 0.55vw);
    padding: 0;
    bottom: 1px;
  }

  /* .run-buddy img {
    width: 100%;
  } */

  .img-size img {
    width: 600px;
    height: 200px;
  }

  .footer {
    flex-direction: column;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .content {
    display: grid;
    margin: 0;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .header h1 {
    font-size: calc(50px + 0.55vw);
    padding: 0 15px 0 60px;
    border-radius: 0 15px 15px 0;
    margin: 10px 0;
  }

  .header ul {
    display: flex;
  }

  .header li {
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }

  .header a {
    font-size: calc(25px + 0.55vw);
    padding: 0;
  }

  .hero h2 {
    font-size: calc(25px + 0.55vw);
  }

  .hero img {
    width: 20%;
  }

  .about-me {
    flex-wrap: nowrap;
  }

  .about-me p {
    font-size: calc(20px + 0.55vw);
  }

  .side-h2 h2 {
    font-size: calc(30px + 0.55vw);
    text-align: end;
    padding-right: 10px;
    border-radius: 0 15px 15px 0;
    margin: 0;
  }

  .content h3 {
    font-size: calc(20px + 0.55vw);
    padding: 0;
    bottom: -5px;
  }

  /* .run-buddy img {
    width: 100%;
  } */

  .img-size img {
    width: 420px;
    height: 120px;
  }

  .footer {
    flex-direction: row;
  }

  .footer a {
    font-size: calc(25px + 0.55vw);
  }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  .content {
    display: grid;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .header h1 {
    font-size: calc(50px + 0.55vw);
    padding: 0 15px 0 60px;
    border-radius: 0 15px 15px 0;
    margin: 10px 0;
  }

  .header ul {
    display: flex;
  }

  .header li {
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }

  .header a {
    font-size: calc(25x + 0.55vw);
    padding: 0;
  }

  .hero h2 {
    font-size: calc(25px + 0.55vw);
  }

  .hero img {
    width: 12%;
  }

  .about-me {
    flex-wrap: nowrap;
  }

  .about-me p {
    font-size: calc(25px + 0.55vw);
  }

  .side-h2 h2 {
    font-size: calc(35px + 0.55vw);
    text-align: end;
    padding-right: 10px;
    border-radius: 0 15px 15px 0;
    margin: 0;
  }

  .content h3 {
    font-size: calc(25px + 0.55vw);
    padding: 0;
    bottom: -5px;
  }

  /* .run-buddy img {
    width: 100%;
  } */

  .img-size img {
    width: 620px;
    height: 200px;
  }

  .footer {
    flex-direction: row;
  }

  .footer a {
    font-size: calc(25px + 0.55vw);
  }
}
